* {
  /*border: 1px solid rgba(0,0,0,0.3);*/
  font-family: Lato;
  box-sizing: border-box;
}

/*
[class*="col-"] {
  width: 100%;
  float: left;
  border: 1px solid rgba(0,0,0,0.3);
}

@media only screen and (min-width: 768px) {
  .col-1 {width: 10%}
  .col-2 {width: 20%}
  .col-3 {width: 30%}
  .col-4 {width: 40%}
  .col-5 {width: 50%}
  .col-6 {width: 60%}
  .col-7 {width: 70%}
  .col-8 {width: 80%}
  .col-9 {width: 90%}
  .col-10 {width: 100%}
}

.row {
  content: "";
  clear: both;
  display: table;
}
*/

header {
  background-color: rgba(126,192,238,0.5);
  width: 100%;
}

header h1 {
  color: DarkSlateGray;
  text-align: center;
}

header ul {
  list-style-type: none;
  text-align: center;
}

header li {
  display: inline;
}

header li a {
  text-decoration: none;
  color: White;
}

header li a:hover {
  color: Black;
}

.content {
  display: block;
  margin-left: 5%;
  margin-right: 5%;
}

p {
  text-align: justify;
}

footer {
  text-align: center;
  padding: 1px;
  color: DarkSlateGray;
  background-color: rgba(34,139,34,0.5);
  position: relative;
  width: 100%;
  bottom: 0;
}

.socMedIcon {
  width: 25px;
  margin-left: 2px;
  margin-right: 2px;
}
