* {
  box-sizing: border-box;
  /*border: 1px solid red;*/
}


html {
  /*font-family: 'Amatic SC', cursive;
  font-family: 'Delius', cursive;
  font-family: 'Just Another Hand', cursive;
  font-family: 'Kalam', cursive;*/
}

.row {
  content: "";
  clear: both;
  display: table;
  width: 100%;
}

[class*="col-"] {
  width: 100%;
  float: left;
  border: 1px solid DarkSlateGray;
}

@media only screen and (min-width: 300px) {
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}
}

.cover {
  background-color: Black;
  max-width: 100%;
}

.cover-img {
  width: 100%;
  max-width: 100%;
  margin: 0;
  padding: 0;
}

#cover-title {
  font-family: 'Amatic SC', cursive;
  color: White;
  text-align: center;
  font-size: 10em;
  margin: 0;
  padding: 0;
}

#cover-tagline {
  color: White;
  text-align: center;
  font-family: 'Amatic SC', cursive;
  font-size: 3em;
  margin: 0% 0% 1% 0%;
  padding: 0;
}

.cover-separator {
  max-width: 100%;
  height: 20px;
  background-color: DarkSlateGray;
  margin-top: -5px;
  padding: 0;
}

#cover-footer {
  padding: 1%;
}

#cover-copyright {
  color: DarkSlateGray;
  font-family: 'Delius', cursive;
  text-align: center;
  margin: 0;
  padding: 0;
}

#cover-proceed {
  font-family: 'Amatic SC', cursive;
  font-size: 2em;
  color: White;
  text-align: center;
  margin:0;
  padding: 1%;
}

#cover-proceed:hover {
  font-weight: bold;
}

#cover-link {
  text-decoration: none;
  color: White;
}

@media only screen and (min-width: 300px) {
  #cover-title {
    font-size: 7.5em;
  }
  .cover-separator {
    height: 5px;
  }
}

header {
  background-color: Black;
  top: 0;
  max-width: 100%;
  width: 100%;

}

.header {
  font-family: 'Amatic SC', cursive;
  font-size: 1.25em;
  text-align: center;
  color: White;
  margin: 0;
  padding: .5%;
}

.chapter-content {
  margin: 0% 5% 30% 5%;
  font-family: 'Kalam', cursive;
}

@media only screen and (min-width: 300px) {
  .chapter-content {
    margin: 0% 5% 10% 5%;
  }
}

.chapter-title {
  font-weight: bold;
  border-bottom: 1px solid DarkSlateGray;
}

.tight {
  margin: 0;
  padding: 0;
}

.contents-link {
  font-weight: lighter;
  text-decoration: none;
  color: Black;
}

.contents-link:hover {
  font-weight: bold;
}

.contents-list {
  font-size: 1.3em;
  margin: 0% 0% 0% -1.5%;
}

ul.level-1 {
  list-style-type: disc;
  padding-left: 2% ;
}

ul.level-2 {
  list-style-type: circle;
  padding-left: 2%;
}

ul.level-3 {
  padding-left: 2%;
}

.chapter-footer {
  width: 100%;
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: 1;
}

.nav-text {
  background-color: Black;
  font-family: 'Amatic SC', cursive;
  font-weight: 300;
  color: White;
  text-align: center;
  text-decoration: none;
  margin: 0;
  padding: 1%;
}

.nav-text:hover {
  font-weight: bold;
}

#chapter-link {
  text-decoration: none;
  color: White;
}

.chapter-copyright {
  background-color: White;
  color: DarkSlateGray;
  font-family: 'Delius', cursive;
  font-size: 0.75em;
  margin: 0;
  padding: 0.5%;
  text-align: center;
}
