* {
  box-sizing: border-box;
  /*border: 1px solid Black;*/
}

#main {
  display: block;
  width: 100%;
  float: left;
}

#container {
  min-width: 250px;
  width: 25%;
  float: left;
}

.col {
  border: 1px solid DarkSlateGray;
  padding: 2.5%;
  border-radius: 10px;
  width: 30%;
  height: 100px;
  float: left;
  background-color: Gray;
}

.col:hover {
  border: 2px dashed Black;
}

.btn {
  margin-top: 5px;
}
