* {
  box-sizing: border-box;
  /*border: 1px solid Black;*/
}

body {
  font-family: 'Montserrat', sans-serif;
}

.row {
  content: "";
  clear: both;
  display: table;
  width: 100%;
}

[class*="col-"] {
  width: 33.33%;
  float: left;
}

@media only screen and (min-width: 300px) {
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}
}

#title {
  text-align: center;
  font-size: 1em;
}

header {
  background-color: Black;
  top: 0;
  max-width: 100%;
  width: 100%;
}

.header {
  font-family: 'Amatic SC', cursive;
  font-size: 1.25em;
  text-align: center;
  color: White;
  margin: 0;
  padding: .5%;
}

#main {
  /*display: block;
  width: 100%;
  float: left;*/
  margin: 0% 33.33% 0% 33.33%;
}

#container {
  /*min-width: 250px;*/
  /*width: 25%;*/
  float: left;
}

.card {
  border: 1px solid DarkSlateGray;
  padding: 2.5%;
  border-radius: 10px;
  width: 33.33%;
  height: 100px;
  float: left;
  background-color: Gray;
}

.card:hover {
  border: 2px dashed Black;
}

#buttonContainer {
  diplay = block;
  margin: 0 auto;
  text-align: center;
}

.btn {
  margin-top: 10px;
  font-family: 'Montserrat', sans-serif;
  outline: none;
  background-color: DarkSlateGray;
  color: White;
  padding: 5px 25px 5px 25px;
  border-radius: 10px;
}

footer {
  margin-top: 15%;
  text-align: center;
}

.chapter-footer {
  width: 100%;
  /*position: fixed;*/
  left: 0;
  bottom: 0;
  /*z-index: 1;*/
}

.chapter-copyright {
  background-color: White;
  color: DarkSlateGray;
  font-family: 'Delius', cursive;
  font-size: 0.75em;
  margin: 0;
  padding: 0.5%;
  text-align: center;
}
